@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 16px;
  background-image: linear-gradient(to bottom, #b068e9, #6463e7);
}

.faq-card {
  position: relative;
  width: 100%;
  max-width: 920px;
  height: 100%;
  max-height: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.img {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
}

.img img {
  width: 220px;
  height: auto;
}

.faq-questions {
  width: 100%;
  max-width: 450px;
  padding-top: 80px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
}

.faq {
  overflow: hidden;
  margin-bottom: 16px;
  border-bottom: 1px solid #f2f2f2;
}

.accordion-q {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.accordion-q span {
  font-size: 14px;
  margin-right: auto;
}

.accordion-q img {
  transition: 0.4s ease all;
}

.answer {
  max-height: 0;
  color: #787887;
  max-width: 320px;
  font-size: 12px;
  transition: 0.4s ease all;
}

/* active state */
.active img {
  transform: rotate(180deg);
}

.active .answer {
  margin-bottom: 16px;
}

/* desktop */
@media (min-width: 700px) {
  .faq-card {
    overflow: hidden;
    padding: 60px;
  }

  .img {
    top: 0;
    left: -80px;
    height: 100%;
    width: initial;
    align-items: center;
    justify-content: flex-start;
  }

  .img img {
    width: 300px;
    height: auto;
  }

  h1 {
    text-align: start;
  }

  .faq-questions {
    padding-top: 0;
    max-width: 350px;
    margin: 0 0 0 auto;
  }
}

@media (min-width: 800px) {
  .faq-card {
    padding: 85px 95px 65px 30px;
  }

  .img img {
    width: 425px;
    height: auto;
  }
}
